[submodule "Tupã-Back"]
	path = Tupan-Back
	url = https://github.com/Grupo-Syntax-Squad/Tupan-Back.git
[submodule "Tupã-Front"]
	path = Tupan-Front
	url = https://github.com/Grupo-Syntax-Squad/Tupan-Front.git

